@-webkit-keyframes pulseUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulseUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

.fade {
  -webkit-animation: fade .5s ease-in-out;
          animation: fade .5s ease-in-out;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  padding: 2rem;
  font-family: "Quicksand", sans-serif;
}

@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-large {
  margin-bottom: 2.5rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-small {
  margin-top: 1.5rem;
}

.u-margin-top-big {
  margin-top: 2.5rem;
}

.u-color-white {
  color: #fff;
}

.heading-primary {
  color: #fff;
  font-weight: 200;
}

.heading-primary--italic {
  display: block;
  font-size: 3rem;
  font-family: "Parisienne", cursive;
}

.heading-primary--main {
  display: block;
  text-transform: uppercase;
  font-size: 5rem;
}

.heading-primary--sub {
  display: block;
}

.heading--italic {
  font-family: "Parisienne", cursive;
}

.heading-secondary {
  color: #555;
  font-weight: 600;
  font-size: 2rem;
}

.heading-tertiary {
  color: #fff;
  font-weight: 700;
  font-size: 3.5rem;
}

@media (max-width: 56.25em) {
  .heading-tertiary {
    font-size: 2.5rem;
  }
}

@media (max-width: 37.5em) {
  .heading-tertiary {
    font-size: 1.5rem;
  }
}

.text-content {
  font-size: 1.5rem;
  font-weight: 400;
  color: #555;
}

.btn::before {
  content: "";
  background-color: white;
  height: 1.5rem;
  width: 20rem;
  position: absolute;
  left: 0;
  opacity: .7;
  -webkit-transition: all 0.7s cubic-bezier(0.82, 0.02, 0.13, 1);
  transition: all 0.7s cubic-bezier(0.82, 0.02, 0.13, 1);
}

.btn {
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  outline-style: none;
  border-style: none;
  overflow: hidden;
  position: relative;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.btn::before {
  -webkit-transform: rotate(120deg) translateY(11rem);
          transform: rotate(120deg) translateY(11rem);
}

.btn:hover {
  background-color: #f78a5f;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0.2rem 0.3rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.2rem 0.3rem 2rem rgba(0, 0, 0, 0.3);
}

.btn:hover::before {
  -webkit-transform: rotate(120deg) translateY(-14rem);
          transform: rotate(120deg) translateY(-14rem);
}

.btn--red {
  background-color: #f29a7f;
  padding: 2rem 4rem;
}

@media (max-width: 37.5em) {
  .btn--red {
    padding: 1rem 2rem;
  }
}

.btn--green {
  background-color: #7ad6bc;
  padding: 1rem 2rem;
}

.btn--green:hover {
  background-color: #7ad6bc;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-box-shadow: 0.2rem 0.3rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.2rem 0.3rem 2rem rgba(0, 0, 0, 0.3);
}

.benefit__img {
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.benefit__img--2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.benefit__img--3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.benefit__card {
  background-color: rgba(85, 85, 85, 0.1);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 56.25em) {
  .benefit__img {
    background-size: cover;
    background-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .benefit__img--1 {
    grid-column: 0/1;
    grid-row: 0/1;
  }
  .benefit__img--2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .benefit__img--3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .benefit__card {
    background-color: rgba(85, 85, 85, 0.1);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card-philsophy {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 45rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0.2rem 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.2rem 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

.card-philsophy:not(:last-child) {
  margin-right: 2rem;
}

.card-philsophy__heading {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 200;
}

.card-philsophy--1 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.7))), url("../../img/phi1.jpeg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)), url("../../img/phi1.jpeg");
}

.card-philsophy--2 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.7))), url("../../img/phi2.jpeg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)), url("../../img/phi2.jpeg");
}

.card-philsophy--3 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.7))), url("../../img/phi3.jpeg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)), url("../../img/phi3.jpeg");
}

@media (max-width: 56.25em) {
  .card-philsophy {
    height: 30rem;
  }
  .card-philsophy__heading {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 200;
  }
  .card-philsophy:not(:last-child) {
    margin-right: 1rem;
  }
}

.card-expert {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-expert__img {
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  height: 20rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  overflow: hidden;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.card-expert__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.card-expert__letter {
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s .3s;
  transition: all .4s .3s;
  position: absolute;
  top: 7rem;
  left: 7rem;
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card-expert__img-cap {
  position: relative;
}

.card-expert__letter-icon {
  color: #7ad6bc;
  font-size: 6rem;
  position: relative;
}

.card-expert__letter-icon::after {
  content: "";
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 1px solid #7ad6bc;
  position: absolute;
  top: -2rem;
  left: -2rem;
}

.card-expert__name {
  text-transform: uppercase;
  font-size: 2rem;
  color: #555;
}

.card-expert__specialty {
  text-transform: capitalize;
  color: #b3b3b3;
  font-size: 1.4rem;
}

.card-expert__item:hover .card-expert__img {
  -webkit-filter: blur(0.1rem) brightness(50%);
          filter: blur(0.1rem) brightness(50%);
}

.card-expert__item:hover .card-expert__letter {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card-stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 60%;
  position: relative;
}

.card-stories__img {
  border-radius: 50%;
  height: 7rem;
}

.card-stories__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 22rem;
}

.card-stories__name {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}

.card-stories__quote {
  color: #fff;
  font-size: 4rem;
  position: absolute;
  top: -5%;
  left: -2%;
}

.card-stories__quote-detail {
  color: #fff;
  font-size: 2rem;
}

.card-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  cursor: pointer;
}

.card-stats__img {
  background-size: cover;
  background-position: center;
  height: 5.5rem;
  margin-bottom: .3rem;
}

.card-stats__number {
  font-size: 5rem;
  margin-bottom: 1rem;
}

@media (max-width: 56.25em) {
  .card-stats__number {
    font-size: 4rem;
    margin-bottom: .3rem;
  }
  .card-stats__type {
    margin-bottom: 1rem;
  }
}

@media (max-width: 37.5em) {
  .card-stats__number {
    font-size: 3rem;
  }
}

.card-methods {
  position: relative;
  overflow: hidden;
}

.card-methods__img {
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  width: 100%;
  height: 38rem;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.card-methods__info {
  text-align: center;
  padding: 1.5rem 0;
  position: absolute;
  bottom: .6rem;
  left: 0;
  width: 100%;
  -webkit-transition: all .4s .2s ease-in-out;
  transition: all .4s .2s ease-in-out;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(1.2rem);
          transform: translateY(1.2rem);
}

.card-methods__heading {
  font-size: 2.1rem;
  color: #eee;
  text-transform: uppercase;
  font-weight: 300;
}

.card-methods__detail {
  color: #eee;
  font-size: 1.4rem;
}

@media (max-width: 56.25em) {
  .card-methods__heading {
    font-size: 2.7rem;
  }
  .card-methods__detail {
    font-size: 2rem;
  }
}

.card-methods:hover .card-methods__img {
  -webkit-filter: blur(0.5rem) brightness(60%);
          filter: blur(0.5rem) brightness(60%);
}

.card-methods:hover .card-methods__info {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (max-width: 56.25em) {
  .card-methods:hover .card-methods__info {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .6;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.products__intro {
  font-family: "Parisienne", cursive;
  color: #f29a7f;
  font-size: 2.5rem;
}

.products__text {
  font-size: 1.6rem;
  font-weight: 200;
  color: #555;
}

.products__heading {
  font-size: 2.7rem;
}

.products__right--img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 35rem;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 3rem;
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  width: 20rem;
}

.products__item:not(:last-child) {
  margin-right: 1.5rem;
}

.products__name {
  color: rgba(85, 85, 85, 0.9);
  font-size: 1rem;
}

.products__num {
  border: 1px solid #f29a7f;
  color: #f29a7f;
  width: 4rem;
  height: 4rem;
  text-align: center;
  border-radius: 50%;
  font-size: 2.3rem;
  font-weight: 400;
}

.products__details {
  font-size: .9rem;
}

@media (max-width: 75em) {
  .products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products__right {
    display: block;
    width: 100%;
    height: auto;
  }
  .products__right--img {
    display: block;
    margin: 0  auto;
    width: 50%;
    height: 25rem;
  }
  .products__left {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 56.25em) {
  .products__right__img {
    width: 20rem;
    height: 20rem;
  }
  .products__item {
    gap: 1rem;
    margin-top: 2rem;
    width: 15rem;
  }
  .products__item:not(:last-child) {
    margin-right: 1rem;
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__intro {
  color: #f29a7f;
  font-family: "Parisienne", cursive;
  font-size: 2.2rem;
}

.title__descript {
  font-size: 2.4rem;
  text-transform: uppercase;
}

.title__logo {
  height: 2.5rem;
}

.title--stories {
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../../img/spa-bg.jpg");
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem #f78a5f;
          box-shadow: 0 1.5rem 4rem #f78a5f;
  height: 55rem;
}

.book__form {
  width: 50%;
  padding: 6rem;
}

@media (max-width: 75em) {
  .book__form {
    width: 70%;
  }
}

@media (max-width: 56.25em) {
  .book__form {
    width: 100%;
  }
}

@media (max-width: 75em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 60%, transparent 60%), url("../../img/spa-bg.jpg");
    background-size: cover;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem #f78a5f;
            box-shadow: 0 1.5rem 4rem #f78a5f;
    height: 50rem;
  }
}

@media (max-width: 56.25em) {
  .book {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), color-stop(0%, rgba(255, 255, 255, 0.9))), url("../../img/spa-bg.jpg");
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 0%), url("../../img/spa-bg.jpg");
    background-size: cover;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem #f78a5f;
            box-shadow: 0 1.5rem 4rem #f78a5f;
    height: 50rem;
  }
}

@media (max-width: 37.5em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%, transparent 100%);
    background-size: cover;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem #f78a5f;
            box-shadow: 0 1.5rem 4rem #f78a5f;
    height: 40rem;
  }
}

.form-heading__text {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.3, #f29a7f), color-stop(0.7, #f78a5f));
  background-image: linear-gradient(to right bottom, #f29a7f 0.3, #f78a5f 0.7);
  font-size: 4rem;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 700;
  color: transparent;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media (max-width: 56.25em) {
  .form-heading__text {
    font-size: 3rem;
  }
}

@media (max-width: 37.5em) {
  .form-heading__text {
    font-size: 2.5rem;
  }
}

.form-heading__text:hover {
  -webkit-transform: skewY(1deg) skewX(10deg) scale(1.1);
          transform: skewY(1deg) skewX(10deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.1);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 56.25em) {
  .form {
    width: 100%;
  }
}

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  border: none;
  color: inherit;
  font-family: inherit;
  background-color: #fff, 0.5;
  width: 75%;
  display: block;
}

.form__input::-webkit-input-placeholder {
  color: #555;
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid #f29a7f;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form__label {
  font-size: 1.2rem;
  margin-top: .7rem;
  margin-left: 2rem;
  font-weight: 700;
  display: block;
}

.form__radio-group {
  width: 45%;
  display: inline-block;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

@media (max-width: 37.5em) {
  .form__radio-group {
    display: block;
    margin-top: 0rem;
  }
}

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

@media (max-width: 37.5em) {
  .form__radio-label {
    font-size: 1rem;
    padding-left: 3rem;
  }
}

.form__radio-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 3px solid #f29a7f;
  position: absolute;
  display: inline-block;
  top: -0.5rem;
  left: 0;
}

.form__radio-button::after {
  content: "";
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f29a7f;
  opacity: 0;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

@media (max-width: 37.5em) {
  .form__radio-button::after {
    height: 1rem;
    width: 1rem;
  }
}

@media (max-width: 37.5em) {
  .form__radio-button {
    width: 2rem;
    height: 2rem;
  }
}

.form__radio-input {
  display: none;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.form__btn {
  text-align: center;
  padding: 1.5rem 3rem;
  margin-top: 3.5rem;
}

@media (max-width: 37.5em) {
  .form__btn {
    padding: .6rem 2rem;
    margin-top: .5rem;
  }
}

.promotion--hot, .promotion--popular {
  padding: 0.2rem .6rem;
  font-size: 1.2rem;
  position: absolute;
  color: white;
  -webkit-animation: pulseUp 1s ease-in-out infinite;
          animation: pulseUp 1s ease-in-out infinite;
}

.promotion--hot {
  background-color: #f29a7f;
  text-transform: capitalize;
  top: 0;
  right: 22%;
}

.promotion--popular {
  background-color: #7ad6bc;
  text-transform: capitalize;
  top: 0;
  right: 22%;
}

.header {
  background-size: cover;
  background-position: center;
  height: 95vh;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url(../img/hero.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/hero.jpg);
  position: relative;
  padding: 2rem;
}

.header__logo-img {
  height: 10rem;
  width: 10rem;
}

.header__nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  list-style-type: none;
}

.header__list--item {
  display: inline-block;
  padding: 1rem 2rem;
}

.header__text {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fff;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__text:hover {
  color: #f29a7f;
  font-weight: 700;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.header__text::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: .3rem;
  background-color: #f29a7f;
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__text:hover::after, .header__text:hover::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0.2em, 0);
          transform: translate3d(0, 0.2em, 0);
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 37.5em) {
  .header__right {
    display: none;
  }
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats-grid {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  text-align: center;
  grid-column: center-start/center-end;
  -ms-grid-columns: (minmax(2.5rem, 1fr))[4];
      grid-template-columns: repeat(4, minmax(2.5rem, 1fr));
  justify-items: center;
}

@media (max-width: 56.25em) {
  .stats-grid {
    grid-column: center-start/center-end;
    -ms-grid-columns: (minmax(2.5rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
    justify-items: center;
  }
}

.benefit-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 1fr))[3];
      grid-template-columns: repeat(3, minmax(10rem, 1fr));
  -ms-grid-rows: (38rem)[2];
      grid-template-rows: repeat(2, 38rem);
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 56.25em) {
  .benefit-grid {
    -ms-grid-columns: (minmax(2.5rem, 1fr))[2];
        grid-template-columns: repeat(2, minmax(2.5rem, 1fr));
    -ms-grid-rows: (38rem)[3];
        grid-template-rows: repeat(3, 38rem);
  }
}

@media (max-width: 37.5em) {
  .benefit-grid {
    -ms-grid-columns: (minmax(2.5rem, 1fr))[2];
        grid-template-columns: repeat(2, minmax(2.5rem, 1fr));
    -ms-grid-rows: (min-content)[3];
        grid-template-rows: repeat(3, -webkit-min-content);
        grid-template-rows: repeat(3, min-content);
  }
}

.philsophy-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services {
  width: 80%;
  margin: 7rem  auto;
  grid-column: center-start / center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(33rem, 1fr))[2];
      grid-template-columns: repeat(2, minmax(33rem, 1fr));
  grid-column-gap: 5rem;
  grid-row-gap: 3rem;
}

@media (max-width: 56.25em) {
  .services {
    -ms-grid-columns: (minmax(33rem, 1fr))[1];
        grid-template-columns: repeat(1, minmax(33rem, 1fr));
    grid-row-gap: 2rem;
  }
}

.services__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.services__name {
  color: #000;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.services__descript {
  margin-top: .7rem;
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

.services__price {
  font-family: "Parisienne", cursive;
  color: #f29a7f;
  font-weight: 700;
  font-size: 1.7rem;
  position: absolute;
  top: 0;
  right: 0;
}

.services__btn {
  padding: 1rem 2rem;
  font-size: 2rem;
}

.footer {
  margin: 0 auto;
  padding: 5rem 10rem;
  background-color: #333;
}

@media (max-width: 56.25em) {
  .footer {
    padding: 5rem 3rem;
  }
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

@media (max-width: 56.25em) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo-box {
  margin: 0 auto;
  width: 35%;
}

@media (max-width: 56.25em) {
  .footer__logo-box {
    width: 30%;
  }
}

.footer__logo {
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 35rem;
}

@media (max-width: 75em) {
  .footer__logo {
    height: 30rem;
  }
}

@media (max-width: 56.25em) {
  .footer__logo {
    height: 25rem;
  }
}

.footer__col {
  width: 100%;
}

@media (max-width: 56.25em) {
  .footer__col :not(:last-child) {
    margin-bottom: 1rem;
  }
}

.footer__list {
  list-style: none;
}

@media (max-width: 37.5em) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 56.25em) {
  .footer__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}

.footer__link:link, .footer__link:visited {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

.footer__link:hover, .footer__link:active {
  color: #f29a7f;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer__copyright {
  color: #fff;
}

.footer__navigation {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
}

.footer__navigation--2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 56.25em) {
  .footer__navigation--1 {
    width: 100%;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
  }
  .footer__navigation--2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-benefit {
  padding: 9rem 10rem;
}

@media (max-width: 56.25em) {
  .section-benefit {
    padding: 5rem 0rem;
  }
}

.section-philsophy {
  padding: 5rem 1rem;
}

.section-expert {
  padding: 10rem 10rem;
}

@media (max-width: 56.25em) {
  .section-expert {
    padding: 10rem 0rem;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.7)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7));
}

.section-stats {
  padding: 5rem 5rem;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.3, #7ad6bc), color-stop(0.5, #21bd91));
  background-image: linear-gradient(to right bottom, #7ad6bc 0.3, #21bd91 0.5);
}

.section-services {
  background-color: rgba(85, 85, 85, 0.1);
  padding: 10rem 0;
}

.section-methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 56.25em) {
  .section-methods {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-products {
  padding: 7rem 10rem;
}

@media (max-width: 75em) {
  .section-products {
    padding: 7rem 12rem;
  }
}

@media (max-width: 56.25em) {
  .section-products {
    padding: 5rem 2rem;
  }
}

.section-booking {
  padding: 10rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f29a7f), to(#f78a5f));
  background-image: linear-gradient(to right bottom, #f29a7f, #f78a5f);
}

@media (max-width: 56.25em) {
  .section-booking {
    padding: 5rem;
  }
}
/*# sourceMappingURL=main.css.map */