.section-benefit{
    padding: 9rem 10rem;
   
    @include response(tab-port){
        padding: 5rem 3rem;
    }  
    @include response(phone){
        padding: 5rem 0rem;
    }      
}
.section-philsophy{
    padding: 5rem 1rem;
}
.section-expert{
    padding: 10rem 10rem;
    @include response(tab-port){
        padding: 10rem 0rem;
    }   
}
.section-stories{
    position: relative;
    padding: 15rem 0;
    background-image: $linear-background;
}
.section-stats{
    padding: 5rem 5rem;
    background-image: linear-gradient(to right bottom,$color-secondary .3 , $color-secondary-dark .5);
}
.section-services{
    background-color: rgba($color-gray,.1);
    padding: 10rem 0;
    @include response(tab-port){
        padding: 5rem 0rem;
    }
    
}
.section-methods{
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include response(tab-port){
        flex-direction: column;
    }
    
}
.section-products{
    padding: 7rem 10rem;
    @include response(tab-land){
        padding : 5rem 2rem ; 

    }
    @include response(tab-port){
        padding: 5rem 2rem;
    }
}
.section-booking{
    padding: 10rem;
    background-image: linear-gradient(to right bottom , $color-primary , $color-primary-dark);
    @include response(tab-port){
        padding:5rem ;
    }
}
