.section-benefit{
    padding: 9rem 20rem;
    
}
.section-philsophy{
    padding: 5rem 1rem;
}
.section-expert{
    padding: 10rem 10rem;
}
.section-stories{
    position: relative;
    padding: 15rem 0;
    background-image: $linear-background;
}
.section-stats{
    padding: 5rem 5rem;
    background-image: linear-gradient(to right bottom,$color-secondary .3 , $color-secondary-dark .5);
}
.section-services{
    background-color: rgba($color-gray,.1);
    padding: 10rem 0;
    
}
.section-methods{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section-products{
    padding: 7rem 10rem;
}
.section-booking{
    padding: 10rem;
    background-image: linear-gradient(to right bottom , $color-primary , $color-primary-dark);
}
