.section-benefit{
    padding: 9rem 20rem;
    
}
.section-philsophy{
    padding: 5rem 1rem;
}
.section-expert{
    padding: 10rem 10rem;
}
.section-stories{
    position: relative;
    padding: 15rem 0;
    background-image: $linear-background;
}