
.footer{
    margin : 0 auto;
    padding: 5rem 10rem;
    background-color: #333;
    
    @include response(tab-port){
        padding: 5rem 2rem;
        
    }
    &__logo-box {
        margin-bottom: 8rem;
        text-align: center;
        @include response(tab-port){
           margin-bottom: 4rem;
        }
    }
    &__logo {
        width: 20rem;
        height: auto;

    }
    &__row {
        max-width: 114rem;
        margin: 0 auto;
        
        @include response(tab-port){
            max-width: 50rem;
        }
        &:not(:last-child) {
            // select all element except last child
            margin-bottom: 8rem;
            @include response(tab-port){
                margin-bottom: 4rem;
            }
        }
        @include clearfix ;
    }
   
    
    &__col { 
        width: calc((100% - #{$gutter-horizontal})/2);
        float: left;
        @include response(tab-port){
            :not(:last-child){
                margin-bottom: 1rem;
            }
            
        }
        &:not(:last-child) {
            margin-right: 6rem;
            @include response(tab-port){
                margin-right: 0;
                margin-bottom: 4rem;
            }
        }
        @include response(tab-port){
            width: 100% !important;
        }
        
    }
    &__list{
        list-style: none;
        // @include response(phone){
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: center;
        //     align-items: center;
        // }
        // @include response(tab-port){
        //     width: 100%;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: center;
        //     align-items: center;
        // }
        
    }
    &__item {
        display: inline-block;
        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }
    &__link{
        &:link,&:visited{
            
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
        }
        &:hover,&:active { 
            color:$color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: translateY(-.5rem);
            transition: all .3s ease-in-out;
        }
    }
    &__copyright {
        color: $color-white;
        @include response(tab-port){
            width: 100%;
            text-align: center;
        }
    }
    &__navigation {
        border-top: 1px solid $color-gray;
        display: inline-block;
        padding: 1.5rem;
        color: $color-white;
        font-size: 1.6rem;
        @include response(tab-port){
            width: 100%;
            font-size: 1.2rem;
            text-align: center;
        }
        
    
    }
    
}