.footer{
    margin : 0 auto;
    padding: 5rem 10rem;
    background-color: #333;
    @include response(tab-port){
        padding: 5rem 3rem;
    }
    &__row {
        display: flex;
        gap: 2rem;
        @include response(tab-port){
            flex-direction: column;
            gap: 0;
            align-items: center;

        }
    }
    &__logo-box {
        margin: 0 auto;
        width: 35%;
        @include response(tab-port){
            width: 30%;
        }
    }
    &__logo {
        width: 100%;
        background-size: cover;
        background-position: center;
        height: 35rem;
        @include response(tab-land){
            height: 30rem;
        }
        @include response(tab-port){
            height: 25rem;
        }

    }
    &__col { 
        width: 100%;
        @include response(tab-port){
            :not(:last-child){
                margin-bottom: 1rem;
            }
            
        }
    }
    &__list{
        list-style: none;
        @include response(phone){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @include response(tab-port){
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
    }
    &__item {
        display: inline-block;
        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }
    &__link{
        &:link,&:visited{
            font-size: 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
        }
        &:hover,&:active { 
            color:$color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: translateY(-.5rem);
            transition: all .3s ease-in-out;
        }
    }
    &__copyright {
        color: $color-white;
    }
    &__navigation {
        color :$color-white ;
        display: flex;
        &--2{
            flex-direction: column;
        }
        font-size: 2rem;
        @include response(tab-port){
            
            &--1{
                width: 100%;
                margin-bottom: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
            }
            &--2{
                align-items: center;
            }
        }
    
    }
    
}