.book { 
    background-image:linear-gradient(105deg,rgba($color-white,.9) 0%,rgba($color-white,.9) 50%
    ,transparent 50%),url('../../img/spa-bg.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-primary-dark, $alpha: 1.0);
    height: 55rem;
    &__form {
        width: 50%;
        padding: 6rem;
        @include response(tab-land){
            width: 70%;
            
        }
        @include response(tab-port){
            padding: 3rem;
            width: 100%;
        }
        @include response(phone){
            padding: 1.5rem;
        }
        
    }
    @include response(tab-land){
        background-image:linear-gradient(105deg,rgba($color-white,.9) 0%,rgba($color-white,.9) 60%
        ,transparent 60%)
        , url('../../img/spa-bg.jpg');
        background-size: cover;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-primary-dark, $alpha: 1.0);
        height: 50rem;
    }
    @include response(tab-port){
        background-image:linear-gradient(to right,rgba($color-white,.9) 0%,
        rgba($color-white,.9) 0%,)
        , url('../../img/spa-bg.jpg');
        background-size: cover;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-primary-dark, $alpha: 1.0);
        height: 50rem;
    }
    @include response(phone){
        background-image:linear-gradient(105deg,rgba($color-white,.9) 0%,rgba($color-white,.9) 100%
        ,transparent 100%);
        background-size: cover;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-primary-dark, $alpha: 1.0);
        height: 40rem;
    }
}
.form-heading{
    
    &__text { 
        background-image: linear-gradient(to right bottom ,$color-primary .3 , $color-primary-dark.7);
        font-size: 4rem;
        background-clip: text;
        -webkit-background-clip: text;
        font-weight: 700;
        color: transparent;
        transition: all .2s ease-in-out;
        @include response(tab-port){
            font-size: 3rem;
            text-align: center;
        }
        @include response(phone){
            font-size: 2.5rem;
        }
    }
    &__text:hover {
        transform: skewY(1deg) skewX(10deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, $alpha: 0.1);
    }

}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @include response(tab-port){
        width: 100%;
    }
    &__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 3px;
        border: none;
        color:inherit;
        font-family: inherit;
        background-color: ($color-white,.5);
        width: 75%;
        display: block;
        &::-webkit-input-placeholder{
            color: $color-gray;
        }
        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .5);
            border-bottom: 3px solid $color-primary;
            transition: all .3s ease-in-out;
        }
        @include response(tab-port){
            font-size: 1.2rem;
            margin: 0 auto;
        }
        
    }
    &__label{
        font-size: 1.2rem;
        margin-top: .7rem;
        margin-left: 2rem;
        font-weight: 700;
        width: 75%;
        display: block;
        @include response(tab-port){
            font-size: 1.4rem;
            display: block;
            margin: 1rem auto;
            
        }
    }
    &__radio-group {
        width: 45%;
        display: inline-block;
        margin-bottom: 2rem;
        margin-top: 1rem;
        @include response(tab-port){
            text-align: center;
        }
        @include response(phone){
            display: block;
            margin-left: .7rem;
            margin-top: 0rem;
        }
    }
    &__radio-label{
        font-size: 1.6rem;
        cursor: pointer;
        position:relative;
        padding-left: 4.5rem;
        @include response(tab-port){
            font-size: 1.4rem;
        }
        @include response(phone){
            font-size: 1rem;
            padding-left: 3rem;
        }
    }
    &__radio-button {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 3px solid $color-primary;
        position: absolute;
        display: inline-block;
        top: -0.5rem;
        left: 0;
        &::after{
            content: "";
            height: 1.8rem;
            width: 1.8rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: $color-primary;
            opacity: 0;
            transition: all .2s ease-in;
            @include response(phone){
                height: 1rem;
                width: 1rem;
            }
        }
        @include response(phone){
            width: 2rem;
            height: 2rem;
        }
    }
    &__radio-input {
        display: none;
    }
    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;
    }
    &__btn{
        text-align: center;
        padding: 1.5rem 3rem;
        margin-top: 3.5rem;
        @include response(tab-port){
            display: block;
            padding: 1.5rem 2rem;
            margin: 1.6rem auto;
        }
        @include response(phone){
            padding: .6rem 1.6rem;
            margin-top: .3rem;
        }
    }
}