.card-philsophy{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 45rem;
    align-items: center;
    box-shadow: .2rem .5rem 1.5rem rgba($color-black,.2);
    &:not(:last-child){
        margin-right: 2rem;
    }
    &__heading {
        color: $color-white;
        font-size: 2.5rem;
        font-weight: 200;
    }
    &--1 { 
        background-image:$linear-background, url("../../img/phi1.jpeg");
    
    }
    &--2 {
        background-image:$linear-background, url("../../img/phi2.jpeg");
        
    }
    &--3{
        background-image:$linear-background, url("../../img/phi3.jpeg");
    }
    @include response(tab-port){
        height: 70rem;
        background-position: top;
        &__heading {
            color: $color-white;
            font-size: 3rem;
            font-weight: 200;
        }
        &:not(:last-child){
            margin-right: 1rem;
        }
    }
}
.card-expert{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    align-items: center;
    &__img {
        background-size: cover;
        object-fit: cover;
        background-position: center;
        height: 20rem;
        border-radius: 50%;
        margin-bottom: 1.5rem;  
        overflow: hidden;   
        transition: all .4s;
        cursor: pointer;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
     &__letter{
            text-decoration: none;
            opacity: 0;
            visibility: hidden;
            transition: all .4s .3s;
            position: absolute;
            top: 7rem;
            left: 7rem;
            cursor: pointer;
            transform: scale(1.2)       
    }
    &__img-cap {
        position: relative;
    }

    &__letter-icon{
        color: $color-secondary;
        font-size: 6rem;
        position: relative;
        &::after{
            content: "";
            height: 10rem;
            width: 10rem;
            border-radius: 50%;
            border: 1px solid $color-secondary;
            position: absolute;
            top: -2rem;
            left: -2rem;
        }
    }
    &__name{
        text-transform: uppercase;
        font-size: 2rem;
        color: $color-gray;
    }
    &__specialty{
        text-transform: capitalize;
        color: rgb(179, 179, 179);
        font-size: 1.4rem;
    }

    &__item:hover &__img{
        //for hover
        filter: blur(.1rem) brightness(50%);
    }

    &__item:hover &__letter{
        opacity: 1;
        visibility: visible;
        transform: scale(1)
    }
}
.card-stories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    position: relative;
   // animation: fade 3s ease-in-out infinite;
    &__img{
        border-radius: 50%;
        height: 7rem;
        
    }
    &__person {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 22rem;
    }
    &__name{
        color: $color-white;
        font-size: 1.8rem;
        font-weight: 600;
    }
    &__quote{
        color: $color-white;
        font-size: 4rem;
        position: absolute;
        top: -5%;
        left: -2%;
        @include response(tab-port){
            left: -3.5%;
        }
    }
    &__quote-detail{
        color: $color-white;
        font-size: 2rem;
    }
}
.card-stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color : $color-white ; 
    cursor: pointer;
    &__img{
        background-size: cover;
        background-position: center;
        height: 5.5rem;
        margin-bottom: .3rem;
    }
    &__number{
        font-size: 5rem;
        margin-bottom: 1rem;
    }
    @include response(tab-port){
        &__number{
            font-size: 4rem;
            margin-bottom: .3rem;
        }
        &__type{
            margin-bottom: 1rem;
        }
    }
    @include response(phone) {
        &__number{
            font-size: 2.5rem;
        }
    }
}
.card-methods{
    position: relative;
    overflow: hidden;
    &__img{
        background-size: cover;
        object-fit: cover;
        background-position: center;
        width: 100%;
        height: 38rem;
        transition: all .2s ease-in;
    }
    &__info{
        text-align: center;
        padding: 1.5rem 0;
        position: absolute;
        bottom: .6rem;
        left: 0;
        width: 100%;
        transition: all .4s .2s ease-in-out;
        //for effect 
        visibility: hidden;
        opacity: 0;
        transform: translateY(1.2rem);

    }
    &__heading{
        font-size: 2.1rem;
        color: #eee;
        text-transform: uppercase;
        font-weight: 300;
    }
    
    &__detail{
        color: #eee;
        font-size: 1.4rem;
    } 
    @include response(tab-land){
        &__img{
            height: 32rem;
        }
    }
    @include response(tab-port){
        &__heading {
            font-size: 2.7rem;
        }
        &__detail {
            font-size: 2rem;
        }
        

    }
}
.card-methods:hover .card-methods__img {        
    filter: blur(.5rem) brightness(60%);
}

.card-methods:hover .card-methods__info{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    @include response(tab-port){
        transform: translateY(-2rem);
    }
}