.heading-primary{
    color: $color-white;
    font-weight: 200;
    &--italic{
        display: block;
        font-size: 3rem;
        font-family: $font-display;
       
    }
    &--main{
        display: block;
        text-transform: uppercase;
        font-size: 5rem;
        
    }
    &--sub {
        display: block;
    }
}
.heading--italic {
    font-family: $font-display;
}
.heading-secondary{
    color : $color-gray;
    font-weight: 600;
    font-size: 2rem;
    @include response(tab-port){
        font-size: 2.3rem;
    }
}
.heading-tertiary{
    color : $color-white ; 
    font-weight: 700;
    font-size: 3.5rem;
    @include response(tab-port){
        font-size: 2.5rem;
    }
    @include response(phone){
        font-size: 1.5rem;
    }
}
.text-content{
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-gray;
}
