.u-center-text {
    text-align: center;
}
.u-margin-bottom-large {
    margin-bottom: 2.5rem;
}
.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}
.u-margin-top-small {
    margin-top: 1.5rem;
}
.u-margin-top-big {
    margin-top: 2.5rem;
}
.u-color-white{
    color: $color-white;
}
.u-display-none{
    display:  none;
}